body{
  font-family: 'Raleway', sans-serif;
}

.search-text{
   padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #ffb71c;
    font-family:Roboto;
    border:none;
	
	height: 45px;
    width: 80px;
}

.search-text h4{
    color:#002147;
    font-weight: 700;
}

footer{
	background-color:#cccc00;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
	color:#ff0000;
    padding:20px;
}

footer ul li a:hover{
	color:#ff0000;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
	
}

.footer-top .fa-2x{
	
    font-size:18px;
    color:black;
    padding-right:10px;
}

.footer-top .social{
    color:white;
    padding: 10px;
    background-color:#ff0000;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    background-color:#0066ff;
    color:white;
	text-decoration:none;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}

#top{
    color: #fff;
    background: #0066ff;
    cursor: pointer;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    right: 30px;
    position: fixed;
    border-radius: 3px;
    text-align: center;
    bottom: 350px;
}


/*  Footer 2 */

.footer-top2 a{
    display: block;
    color: #FFF;
    background: #0066ff;
     border-radius: 72px;
    height: 100px;
    width: 100px;
    padding: 43px 0px;
}


.footer-top2{
	padding-bottom:50px;
}

.footer-top2 .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    background:#002147; 
    padding: 10px;
}

.footer-top2 .col-lg-2:hover a{
    color:#FFF;
	text-decoration:none;
	background:#ffb71c;
    transition: all 2s ease-in-out;
}

/*  Footer 2 End */


/*  Footer 3 */

.footer-top3 .fa{
    background:#ffb71c ;
    color:#FFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size:14px;
    margin-right:5px;
} 

.footer-top3 .fa:hover{
    color:#FFF;
	background:#002147;
    transition: all 2s ease-in-out;
} 

.footer-top3 a{
    color:#FFF;
    text-decoration:none;
}

/*  Footer 3 End */
