
@CHARSET "ISO-8859-1";
* {
  box-sizing: border-box;
}
/*----------logo---------*/
.logo{
	margin-left:10px;
	margin-top:20px;
	margin-bottom:10px;
	width:100px;
	height:100px;
}
.header-most-top  a {
    color: ##ff0000;
    font-size: 38px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}
/*----------Header---------*/
.header-most-top{
	margin-top:0px;
	
}
.header-right ul li {
    display: inline-block;
    width: 12%;
    float:right;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top:30px;
    margin-right:30px;
}

.header-right ul li a {
    text-decoration: none;
     color:#ff0000;
     
}

.header-right ul li i {
    font-size: 15px;
   
}
 
/*----------Header end---------*/
/*----------Navbar---------*/

.navbar-inverse{
	
	background:#cccc00;
	font-family:arial;
	font-size: 1.2em !important;
	border:none;
	
}
.navbar-inverse .navbar-nav{
	color:#ff0000;
}

.navbar-inverse .navbar-nav:hover,.navbar-inverse .navbar-nav:focus{
	color:blue;
	
}
.container-fluid .navbar-inverse .navbar-nav > li > a {
    
    float:left;
   
}

.navbar-inverse .navbar-nav > li > a {
    color:#ff0000;
    float:left;
   
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
 
    color: blue;
}
.navbar-inverse .navbar-nav > li > a:active {
 
    color:  #ff3300;
}
.dropdown-toggle{
  background-color:#cccc00 ;
  color:#ff0000;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: right;
  background-color:white ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  background: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown .dropdown-menu a:hover{background:#ff0000; color:white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-toggle{ background:none;}


/*----------Navbar End ---------*/
/*----------Carousel---------*/

#myCarousel{
	margin-top:-20px;
	
}


/*----------Carousel end---------*/
h3.tittle-w3l {
    color: #000;
    font-size: 38px;
    letter-spacing: 1px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
}
h3.tittle-w3l span {
    color: #ff0000;
    font-size: 50px;
    letter-spacing: 0;
}


/*----------Counter Badge---------*/
.sectionClass {
  margin-top:-50px;
  padding: 20px 0px 50px 0px;
  position: relative;
  display: block;
}

.fullWidth {
  width: 100% !important;
  display: table;
  float: none;
  padding: 0;
  min-height: 1px;
  height: 100%;
  position: relative;
}


.sectiontitle {
  background-position: center;
  margin: 30px 0 0px;
  text-align: center;
  min-height: 20px;
}

.sectiontitle h2 {
  font-size: 30px;
  color: #222;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}


.headerLine {
  width: 160px;
  height: 2px;
  display: inline-block;
  background:#cccc00;
}


.projectFactsWrap{
    display: flex;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}


#projectFacts .fullWidth{
  padding: 0;
}

.projectFactsWrap .item{
  width: 25%;
  height: 100%;
  padding: 50px 0px;
  text-align: center;
}

.projectFactsWrap .item:nth-child(1){
  background:rgb(255, 0, 0);
}

.projectFactsWrap .item:nth-child(2){
  background: rgb(255, 0, 0);
}

.projectFactsWrap .item:nth-child(3){
  background: rgb(255, 0, 0);
}

.projectFactsWrap .item:nth-child(4){
  background:  rgb(255, 0, 0);
}

.projectFactsWrap .item p.number{
  font-size: 40px;
  padding: 0;
  font-weight: bold;
}



.projectFactsWrap .item p{
  color:rgb(255, 255, 0);
  font-size: 18px;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans';
}



.projectFactsWrap .item span{
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  height: 2px;
  display: block;
  margin: 0 auto;
}


.projectFactsWrap .item i{
  vertical-align: middle;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.8);
}


.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p{
  color: white;
}

.projectFactsWrap .item:hover span{
  background: white;
}

/*----------counter Badge end---------*/


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position:absolute;
  left: 500px;
  top: 150px;

  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display:inline-block;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.form-popup1 {
  display: none;
  position:absolute;
 
  left: 500px;
  top: 150px;

  
}

/* Add styles to the form container */
.form-container1 {
	margin-top:-120px;
  max-width: 500px;
  height:700px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container1 input[type=text], .form-container1 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container1 input[type=text]:focus, .form-container1 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container1 .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  display:inline-block;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container1 .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container1 .btn:hover, .open-button:hover {
  opacity: 1;
}


/*---------ads----*/

.ads-list {
    width: 33.333%;
    float: left;
}

.select-box {
    background: rgba(255, 76, 76, 0.66);
    padding: 30px 30px;
    margin: 40px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.ads-list label {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 6px;
}

.ads-list select {
    width: 70%;
    outline: none;
    color: #000;
    font-size: 15px;
    border: 1px solid #eee;
    padding: 7px 8px;
}

.btn-group.bootstrap-select.show-tick button {
    padding: 8px 10px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 260px;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #D1E0EE;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: #fff;
    width: 80%;
    color: #000;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.input-lg {
    height: 29px;
    padding: 0px 10px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#custom-search-input .glyphicon-search {
    font-size: 16px;
}

.btn-default {
    border-color: #D1E0EE;
}

.btn {
    display: inline-block;
}


/*----footer-----*/
p.footer-main {
    color: #ff0000;
    font-size: 15px;
    margin-bottom: 40px;
}

h2.footer-top-head-w3l {
    font-size: 22px;
}

.icon-fot {
    text-align: center;
}

.icon-fot i {
    font-size: 41px;
    line-height: 1.4;
    color: #0879c9;
}

.text-form-footer {
    padding: 0;
}

.text-form-footer h3 {
    color: #000;
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 1.3;
}

.footer-info h3 {
    font-size: 22px;
    letter-spacing: 1px;
}

.footer-grids ul li {
    display: block;
    font-size: 14px;
    color: #bdbdbd;
}

.footer-grids ul li a {
    color: #bdbdbd;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}

.footer-grids ul li a:hover {
    color: #F45C5D;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}

.footer-grids ul li i {
    color: #f45c5d;
    padding-right: 10px;
}

.footer-grids.agile-secomk {
    margin-top: 34px;
}

.w3l-middlefooter-sec {
    background: #333;
}

/*-- social-icons --*/

.footer-grids.w3l-socialmk ul li {
    display: inline-block;
    margin: 0;
}

.footer-grids.w3l-socialmk ul li:nth-child(2) {
    margin: 0 10px;
}

.social_icons {
    text-align: center;
}

.social a {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
}

.social .fb {
    background: #6788ce;
}

.social .tw {
    background: #00ACEE;
}

.social .gp {
    background: #DD4B39;
}

.social .pin {
    background: #fe4445;
}

.social .db {
    background: #f85993;
}

.social .rss {
    background: #ff9845;
}

.social .lin {
    background: #3a9bdc;
}

.social ul li a i {
    color: #fff;
    line-height: 34px;
    font-size: 1em;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0;
}

.w3l-agileits input[type="email"] {
    display: inline-block;
    background: #f5f5f5;
    border: none;
    width: 72%;
    padding: 10px;
    color: #000;
    letter-spacing: 1px;
}

.w3l-agileits input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: 10px;
    letter-spacing: 1px;
    width: 18%;
    background: #f45c5d;
    border: none;
	cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.w3l-agileits input[type="submit"]:hover {
    background: #0879c9;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}






@media (max-width: 786px){
  .projectFactsWrap .item {
     flex: 0 0 50%;
  }
}



/* For mobile phones: */


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}